@import 'partials/setup';
@import 'partials/utils';

html{
	font-size: 20px;
	font-family: $mainfont;
	font-weight: 300;
	/* Fluid font sizing | scales based on viewport width and desired min/max font sizes*/
	font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1440 - 320)));
	color: $dark;
	background: $light;
	letter-spacing: .05rem;
}
a, a:visited, a:active{
	color: inherit;
	text-decoration: none;
}
header{
	display: flex;
	justify-content: center;
	form{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center; 
		position: relative;
		margin-top: 7vmax;
		font-size: 1.2rem;
	}

	input{
		background-color: transparent;
		border: none;
		outline: none;
		border-radius: 0;
		font-size: 1rem;
		font-weight: 300;
		color: inherit;
		&[type="text"]{
			width: 33vmax;
			margin-bottom: 1rem;
			border-bottom: 2px solid $white;
			padding-bottom: .5rem;
			order: 2;
			text-align: center;
			transition: width .3s;
			&:focus{
				width: 50vmax;
				+ label{
					top: -50%;
				}
			}
		}
		&[type="submit"]{
			order: 3;
			max-width: 25vmax;
			background: $dark;
			color: $light;
			font-size: .75rem;
			padding: .25rem .75rem;
			transition: color .2s ease-in-out, background .2s ease-in-out, padding .2s ease-in-out;
			&:hover {
				background: $contrast;
				color: $dark;
				font-weight: 400;
				padding: .25rem 1rem;
			}
		}
	}
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	align-self: flex-end;
	background: $dark;
	color: $light;
	h4{
		font-weight: 300;
		margin: .5rem 0;
	}
	a{
		margin-left: .5rem;
	}
	div{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
}

.wrapper {
	width: 95%;
	margin: 0 auto;
}

label {
	order: 1;
	font-size: 1rem;
	width: 100%;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	transition: top .3s;
	z-index: -1;
	top: 0%;
}

span {
	color: $contrast;
	font-weight: 800;
}

h1 {
	color: #a2adbc;
	font-size: 1rem;
	text-align: center;
}

ul{
	list-style: none;
	padding: 0;
}

body{
	position: relative;
	padding: 0;
	margin: 0;
	min-height: 100vh;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

.artistCard {
	&__banner{
		cursor: pointer;
		margin-bottom: 1rem;
		border-bottom: $borderThin;
		padding-bottom: .5rem;
		border-color: $white;
		h3 {
		margin-bottom: .33rem;	
		}
		&:hover{
			.artistCard__match{
				&--outerBar{
					background: $contrast;
				}
				&--innerBar{
					background: $dark;
					color: $contrast;
				}
			}
		}
	}
	&__name{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.artistCard__match{
		&--outerBar{
			width: 100%;
			background: $white;
			padding: .25rem 0;
			transition: background .3s;
		}	
		&--innerBar{
			background: $dark;
			color: $white;
			padding: .5rem 0 .5rem .5rem;
			transition: background .3s, color .3s;
		}
	}
	&__tags, &__tracks, &__albums{
		margin: 4rem 0;
		font-size: 0.8rem;
		li{
			display: flex;
			// width: 100%;
			padding: .5rem 1rem;
			justify-content: space-between;
			border-bottom: 2px solid $white;
		}
		h4{
			font-weight: 300;
			margin: 0;
			}
	}

	&__tracks, &__albums{
		li {
			display: flex;
			flex-wrap: wrap;
			padding: .8rem 0;
			width: 100%;
		}
		h4 {
			width: 100%;
			margin: .25rem 0;
		}
	}	

	&__tags{
		ul{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		li{
			justify-content: space-between;
			border-bottom: none;
			border: $borderDark;
			color: $dark;
			margin: .5rem;
			text-align: center;
			h4{
				width: 100%;
			}
		}
	}

}
.artistCardContainer{
	position: relative;
}

.bannerClick {
	transform: rotate(180deg);
}

.loadingOverlay{
	display: grid;
	justify-content: center;
	display: none;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: radial-gradient(circle at center, $light 20% , transparent 300%);
	.spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		float: left;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		border: .33rem solid $dark;
		animation: spinner 0.75s cubic-bezier(.3,.55,.7,.55) infinite;
		box-shadow: -.5vmin -.5vmin 0 1vmin $dark;
		
	}
}
@keyframes spinner {
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}

/* Landscape phone to portrait tablet */
@media (min-width: 768px) {
	.artistCard {
		&__tracks, &__albums{
			li {
				flex-wrap: initial;
				justify-content: space-between;
			}
			
			h4 {
				width: initial;
			}
		}	
	}
	header input{
		&[type="text"]{
			width: 25vmax;
			&:focus{
				width: 30vmax;
			}
		}
	}
}