article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 20px;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  /* Fluid font sizing | scales based on viewport width and desired min/max font sizes*/
  font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1440 - 320)));
  color: #022644;
  background: #D7E3ED; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  header form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin-top: 11vmax;
    font-size: 1.2rem; }

.wrapper {
  width: 95%;
  margin: 0 auto; }

label {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: left .3s;
  transition: left .3s;
  z-index: -1; }

span {
  color: #f3bbae;
  font-weight: 800; }

input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #F9FCFF;
  padding-bottom: .5rem; }
  input[type="text"] {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
    input[type="text"]:focus + label {
      left: 7%; }
  input[type="submit"] {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    right: 0; }

h1 {
  color: #a2adbc; }

ul {
  list-style: none;
  padding: 0; }

body {
  position: relative;
  padding: 0;
  margin: 0; }

.container {
  max-width: 900px;
  margin: 0 auto; }

.artistCard__banner {
  cursor: pointer; }

.artistCard__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.artistCard .artistCard__match--outerBar {
  width: 100%;
  background-color: #f3bbae;
  padding: .25rem 0; }

.artistCard .artistCard__match--innerBar {
  background-color: #022644;
  color: #f3bbae;
  padding: .5rem 0 .5rem .5rem; }

.artistCard__tags, .artistCard__tracks, .artistCard__albums {
  margin: 4rem 0; }
  .artistCard__tags li, .artistCard__tracks li, .artistCard__albums li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 2px solid #F9FCFF; }

.artistCard__tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.artistCard__tags li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: none;
  background: #022644;
  color: #D7E3ED;
  margin: .5rem;
  text-align: center; }
  .artistCard__tags li h4 {
    width: 100%; }

.artistCardContainer {
  position: relative; }

.loadingOverlay {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle at center, white 20%, transparent 300%); }
  .loadingOverlay .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: block;
    float: left;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: .33rem solid black;
    -webkit-animation: spinner 0.75s cubic-bezier(0.3, 0.55, 0.7, 0.55) infinite;
            animation: spinner 0.75s cubic-bezier(0.3, 0.55, 0.7, 0.55) infinite;
    -webkit-box-shadow: -.5vmin -.5vmin 0 1vmin black;
            box-shadow: -.5vmin -.5vmin 0 1vmin black; }

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
